@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}




.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*--------------------------*/
.mt-3, .my-3 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.text-1{
  padding-bottom: 20px;
}
/*---------------------------*/
/*-------------------*/
.py-5{
  background-color: #fafafa;
  
}
.card-deck {
  padding-top: 90px !important;
  padding-left: 190px;
  padding-right: 180px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  padding-bottom: 90px !important;
}
@media (max-width: 768px) {
     
  .card-deck{
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

}
col-xl-6 col-lg-6 col-md-6{
     text-align: center!important;
}
/*-------------------*/

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  padding-top: 40px;
}

.service_section .box .img-box img {
  width: 75px;
  -webkit-filter: invert(30%) sepia(71%) saturate(752%) hue-rotate(138deg) brightness(99%) contrast(90%);
          filter: invert(30%) sepia(71%) saturate(752%) hue-rotate(138deg) brightness(99%) contrast(90%);
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
}

.about_section .heading_container {
  margin-bottom: 15px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0d7377;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #053032;
}
/*-------About2*---------*/
.about2-section{
  background: url(/img/running-bg.png) no-repeat;
  background-size: 100%;
  overflow: hidden;
  padding-bottom: 150px;
  padding-top: 200px;
}
.inner-container{
  width: 60%;
  float:left;
  background-color: #ffffff;
  padding: 140px;
  padding-bottom: 50px;
  padding-top: 80px;
}

h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  line-height: 5px;
}
h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 5px;
}
.text{
  font-size: 15px;
  color: #545454;
  text-align: justify;
  margin-bottom: 40px;
}
ul{
  list-style: square;
}
li::marker{
  color: rgb(55, 0, 255);
}

/*------Abou2t*---------*/

/*---------Banner--------*/
.banner {
  width: 100%;
  height: 12.5rem;
  background: url('../img/patterned-bg.png') rgb(60, 159, 173);
  position: relative;
  bottom: 180px !important;
}

.banner > div:first-child {
  padding-left: 10rem;
}

.banner-center-text {
  color: #fffbfb;
  line-height: 10px;
  font-size: 18px;
}

.banner-left-text-heading {
  color: #FFFFFF;
  font-size: 32px;
  position: relative;
  top: 20px;
}


.banner-left-text-sub-heading {
  font-size: 46px;
  color: #FFFFFF;
  position: relative;
  bottom: 20px;
  font-weight: 700;
}

.banner-table {
  width: max-content;
}

.banner-table thead {
  border-bottom: 2px solid #ffffff;
}

.banner-table th {
  color: #FFFFFF;
  font-size: 21px;
  width: 150px;
  font-weight: 400;
}

.banner-table td {
  font-size: 16px;
  color: #FFFFFF;
}

.banner-table .indicator {
  width: 5px;
  height: 5px;
  background-color: #FC9300;
  margin-right: 5px;
}
/*---------Banner--------*/
/*--------------------------*/
.accordion {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  left: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 140px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  width: 100%;
background: white;
  border: none;
  outline: none;
  border-bottom: 1px solid #00000049;
  color: #000000;
  cursor: pointer;
  padding-bottom: 40px;
}

.accordion-header.active {
  background-color: #f7f7f7;
  color: #545454;
}
.accordion-header.active i {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  color: #000000;
}

.accordion-body {
  padding: 0 1rem;
  background-color: #f3f3f3;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

}

.accordion-body.active {
  max-height: 10rem;
  padding: 1rem;
}
h3{
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  bottom: 20px;
  font-size: 40px;

}


/*==================*/


/* footer section*/
.footer_section {
  background-image: url(/img/black-city-bg.jpg);
  color: #ffffff;
  padding-top: 75px;
  position: relative;
  top: 30px;
}

.footer_section .footer-col {

}

.footer_section .footer_form_social_row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.footer_section h4 {
  margin-bottom: 15px;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

.footer_section .footer_form {
  width: 100%;
}

.footer_section .footer_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer_section .footer_form form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
  height: 50px;
  padding-left: 15px;
  outline: none;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #0d7377;
}

.footer_section .footer_form form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.footer_section .footer_form form input:-ms-input-placeholder {
  color: #9c9c9c;
}

.footer_section .footer_form form input::-ms-input-placeholder {
  color: #9c9c9c;
}

.footer_section .footer_form form input::placeholder {
  color: #9c9c9c;
}

.footer_section .footer_form form button {
  background-color: transparent;
  color: #0d7377;
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 15.5px 25px;
  background-color: #0d7377;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.footer_section .footer_form form button:hover {
  background-color: #053032;
}

.footer_section .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_section .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 10px;
}

.footer_section .social_box a:hover {
  color: #0d7377;
  border-color: #0d7377;
}

.footer_section .footer_insta .insta_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_section .footer_insta .insta_box .img-box {
  width: 65px;
  min-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  background-color: #ffffff;
}

.footer_section .footer_insta .insta_box .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_section .footer_insta .insta_box p {
  margin: 0;
}

.footer_section .footer_insta .insta_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.footer_section .footer_contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer_section .footer_contact a i {
  margin-right: 5px;
  width: 25px;
}

.footer_section .footer_contact a:hover:hover {
  color: #0d7377;
}

.footer_section .map_container {
  width: 100%;
  height: 205px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer_section .map_container .map #googleMap {
  height: 100%;
}

.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
  padding: 20px 0;
  background-color: #ffffff;
  width: 20px;
}

.footer_section .footer-info p {
  color: #000000;
  margin: 0;
}

.footer_section .footer-info p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */
